/* common.css */
body {
    margin: 0;
    font-family: 'Arial', sans-serif;
  }
  
  button, input, textarea {
    font-family: inherit;
  }
  
  h2, h5 {
    margin: 0;
  }
  
  button {
    cursor: pointer;
  }
  